/*create variables that entire webpage can use and organize the entire page*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
/*clean the white extra column issue when resize the webpage */

:root{
    --background-color-one:#D1C2DF;
    --background-color-two:#C4E2C7;
    --paragraph-color-one:#7A7281;
    --paragraph-color-two:#7B8B6F;
    --heading-color-one:#6b5a79;
    --heading-color-two:#5e7a48;
}
.self{
    width: 360px;
    height: auto;
    display: block;
    margin-left: 10%;
    margin-right: auto;
 
}
/*set background for the entire page*/
.mainpage, footer{
    background-image:linear-gradient(to right, var(--background-color-one) 50%, var(--background-color-two)50% );
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    position:relative;
    top: 0;
    left: 0;
}

/*set headings*/
.header {
    padding-bottom: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--heading-color-two);
    font-size: 50px;
}
.header h1{
    padding-top: 10px;
    font-weight: bold;
    font-size: 36px;
    padding-left: 30px;
    margin: 0;
    display: inline; 
}
.header section {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*set navigate bar section*/
.navigate-section a{
    color: var(--heading-color-one);
    text-decoration: underline;
    margin-top: 10px;
    padding-top: 10%;
    font-weight: bold;
    display: inline;
}
.navigate-section ul {
    list-style-type: none;
}
.navigate-section ul li {
    display: inline-block;
    margin-left: 25px;
}
.about-me-section, .work-section, .contact-me-section{
    padding: 20px;
    display: inline-block;
}
/*add drop down list to work section in navigate bar*/
.dropbtn {
    color:var(--heading-color-one);
    background-color: var(--background-color-two);
    text-decoration: underline;
    margin: 10px;
    padding-top: 10%;
    font-weight: bold;
    border: none;
    font-size: 20px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--background-color-one);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: var(--heading-color-one);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content .work{
      color: black;

  }
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  


.background-subtitle-section h2{
    color:var(--heading-color-two);
    padding-left: 40px;
}
/*for pictures five pictures in a row normal screen size*/
.picwall {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: 1fr 1fr;
    gap: 5px 50px;
  }
  /* for screen when change smaller size*/
  @media screen and (max-width: 600px) {
    .picwall{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    } 

  }
  /*set background and padding for the pictures */
  .picwall div {
    background-color: white; 
    text-align: center;
    border: 1px dotted black;
    opacity: 1;
    padding: 20px 0;
    font-size: 30px;
  }
  /*set picture size*/
  .picwall img{
      max-height: 240px;
      width: auto;
  }
  /*put messages for each pictures when hover on it*/
  .message {
    position: relative;
	top: 0;
	left: 0;
	color: var(--paragraph-color-one);
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: opacity 0.25s;
    opacity: 0;
  }
  /*show only hover*/
   .message:hover{
    opacity: 1;
  }
  
.float-container{
    display: flex;
    flex-direction: row;
}
/*set position for the about me section*/
.about-me-section{
    flex: 1;
    max-width: 50%;
    height: 100%;
    overflow: hidden;
}
/*set colors*/
.about-me-section h2, .about-me-section h3, .about-me-section h4{
    color: var(--heading-color-two);
}
.about-me-section p{
    color: var(--paragraph-color-two);
}
/*set colors and position for work section*/
.work-section{
    color: var(--heading-color-one);
    flex: 2;
    padding-left: 25%;
}
/*set colors */
.work-section h2{
    color: var(--heading-color-one);
}
.work-section p{
    color: var(--paragraph-color-one);
}
/*set positions for works in work section*/
.work1, .work2, .work3, .work4 {
    margin-bottom: 30px ;
    margin-right: 50px;
    width: 100%;
    max-width: 400px;
  }
  /*set img size*/
  .work1 img, .work2 img, .work3 img, .work4 img{
    width: 360px;
    height: auto;
  }
  /*when hover the size of the picture changes and based on html when click on it will go to the deployed*/
  .work1 img:hover, .work2 img:hover, .work3 img:hover, .work4 img:hover{
      width: 512px;
      height: auto;
  }
  
  /*for the buttons, set the color, text position, and size for the button*/
  .visitweb, .visitcode{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #f1f1f1;
    color: var(--heading-color-one);
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
  }
  .visitweb:hover, .visitcode:hover{
      background-color: var(--background-color-one);
  }
/*set position for the contact me section*/
  .contact-me-section{
      display: flex;
      display: inline;
      flex: 1;
      
  }
/*set colors and symbol size for contact me section, based on html, when click onto the symbol 
it will go to the relative webpage or make webcall*/
  .contact-me-section h2{
      color: var(--heading-color-two);
  }

  .contact-me-section p{
      display: inline;
      color: var(--paragraph-color-two);
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .symbol{
    height: 50px;
    mix-blend-mode: multiply;
    opacity: 0.8;  
  }
  /*set footer to the center of the page*/
 footer{
     text-align: center;
 }